caffe-rc5.tar.gz
cuda_8.0.61_375.26_linux.run
cudnn-8.0-linux-x64-v5.1.tgz
eclipse-jee-mars-2-linux-gtk-x86_64.tar.gz
libsvm-3.22.tar.gz
nginx-rtmp-module-1.1.11.tar.gz
opencv-2.4.13.2.tar.gz
R2015b_glnxa64.iso
tensorflow_gpu-1.0.1-cp27-none-linux_x86_64.whl
tensorflow_gpu-1.0.1-cp34-cp34m-linux_x86_64.whl
vlfeat-0.9.20-bin.tar.gz
